/*ベースカラー*/
/*#A6D8DF*/
/*#EE5840*/

/*またはこっち*/
/*#67C7C5*/
/*#C71330*/

/* universal */
body {
/*  height: 1000px;*/
  background-color: #F5F2EB;
}

/*
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
*/

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  color: #666;
  font-size: 5em;
  text-align: center;
}

h4 {
  color: #666;
  font-size: 1.3em;
  text-align: center;
}


p {
  font-size: 1.3em;
  line-height: 1.7em;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

table{
  border-collapse:collapse;
  margin:0 auto;
  font-size: 1.3em;
}
td,th{
  padding:10px;
  border:solid 1px #666;
}
th{
  color:#fff;
  background:#A6D8DF;
}
table tr:nth-child(odd){
  background:#ffffff;
}
table tr:nth-child(even){
	background: #F0F0F0;
}

/* header */
header {
  height: 400px;
  background-image: url('../images/glasses.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25%;
}

.logo-title {
  height: 400px;
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  font-size: 6.5vw;
  text-align: center;
  line-height: 0.8em;
}

.liner-blue {
  background: linear-gradient(transparent 90%, #A6D8DF 90%);  
}
.liner-red {
  background: linear-gradient(transparent 90%, #EE5840 90%);  
/*  padding-top: 50px;*/
/*  padding-bottom: -200px;*/
}

.hr01 {
	border-width: 5px 0 0 0;
/*	border-style: dashed;*/
	border-color: #A6D8DF;
  margin: 10px;
}

.hr02 {
	border-width: 2px 0 0 0;
/*	border-style: dashed;*/
	border-color: #EE5840;
  margin: 10px;
}

.hr03 {
	border-width: 5px 0 0 0;
	border-style: double;
	border-color: #A6D8DF;
}


/* main */
.section{
  width: 100vw;
  height: 80vh;
  padding-top: 30px;
}

.text{
  width: 80%;
}

.inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;  
}

#Profile .inner{
  padding-left: 80px;
}

.img-icon {
  padding: 20px;
  border-radius: 50%;
  width: 80%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-image {
  display: block;
  margin-bottom: 8px;
  height: 245px;
  width: 100%;
}

.card-caption {
  text-align: center;
}

.card-caption-title {
  font-size: 16px;
  font-weight: bold;
}

.card-caption-info {
  font-size: 12px;
}

.card-caption-url {
  font-size: 12px;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #F5F2EB;
  background-color: #666;
}

.copyright{
  text-align: center;
}
