/*ベースカラー*/
/*#A6D8DF*/
/*#EE5840*/

/*またはこっち*/
/*#67C7C5*/
/*#C71330*/

/* universal */
body {
  background-color: #F5F2EB;
  font-family: "M PLUS Rounded 1c", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: "M PLUS Rounded 1c", Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

h1 {
  color: #666;
  font-size: 5em;
  text-align: center;
}

h3 {
  color: #666;
  font-size: 2em;
  text-align: center;
}

h4 {
  color: #666;
  font-size: 1.3em;
  text-align: center;
}

.white {
  color: #FFFFFF;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

table{
  border-collapse:collapse;
  margin:0 auto;
  font-size: 1.3em;
}
td,th{
  padding:10px;
  border:solid 1px #666;
}
th{
  color:#fff;
  background:#A6D8DF;
}
table tr:nth-child(odd){
  background:#ffffff;
}
table tr:nth-child(even){
	background: #F0F0F0;
}

/* header */
#header {
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

#header #top {
  height: 60vh;
  margin: 0 auto;
  background-color: rgb(118, 209, 219);
}

#header h1 {
  color:#F5F2EB;
  font-size: 6em;
  font-weight: 900;
  font-family: neuzeitgrobold,sans-serif;
}
#header h3 {
  color:#F5F2EB;
  font-size: 3em;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
}

#header-bar {
  /* position: fixed; */
  top: 0;
  left: 0;
  height: 40px;
  padding: 5px;
  background-color: rgb(0, 162, 187);
  color: #000000;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

#menu-link {
  text-align: center;
  padding: 20px;
}

#menu-link a {
  margin: 0px 20px;
  font-size: 2.6em;
  font-family: 'Source Sans Pro', sans-serif;
  color:#F5F2EB;
  text-decoration: none;
  border-bottom: 1px solid #F5F2EB;
}

#center{
  position: relative;
  top: 23%;
}

.logo-title {
  height: 20vh;
  line-height: 1.3em;
  font-size: 5vw;
}

.child {
  display: table-cell;
  vertical-align: middle;
  width: inherit;
  height: inherit;
  text-align: center;
  border: 1px dashed red;
}

.header-pic {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 20vh;
  text-align: center;  
}

.liner-blue {
  background: linear-gradient(transparent 90%, #A6D8DF 90%);  
}
.liner-red {
  background: linear-gradient(transparent 90%, #EE5840 90%);  
}

/* main */
.section{
  width: 100vw;
  padding-top: 100px;
}

.inner {
  vertical-align: middle;
  width: 100%;
  text-align: center;  
}

.card-header {
  text-align: left;
  font-size: 1.7em;
}
.card-main {
  font-size: 0.85em;
}

.img-icon {
  padding: 20px;
  border-radius: 50%;
  width: 70%;
}

.space{
  padding-bottom: 30px;
}

.profile-text {
  padding-top: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-image {
  height: 300px;
  width: 100%;
}

.card-caption {
  text-align: center;
}

.card-caption-title {
  font-size: 16px;
  font-weight: bold;
}

.card-caption-info {
  font-size: 12px;
}

.card-caption-url {
  font-size: 12px;
}

.contact-icon {
  height: 100px;
  width: 100px;
  padding: 10px;
  border-radius: 50%;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #F5F2EB;
  background-color: #666;
}

.copyright{
  text-align: center;
}

/* レスポンシブ */
@media screen and (max-width:480px){
  h1 {
    font-size: 2.1em;
  }
  #header-bar {
    height: 10px;
  }
  #header #top {
    height: 30vh;
  }
  #header h1 {
    font-size: 2.1em;
    font-weight: 900;
    font-family: neuzeitgrobold,sans-serif;
  }
  #header h3 {
    font-size: 1.8em;
    font-weight: 400;
  }
  #center{
    top: 0%;
  }
  #menu-link a {
    margin: 0px 20px;
    font-size: 1em;
  }
  .section{
    padding-top: 40px;
  }
}
@media screen and (min-width:481px) and (max-width:1023px){
  #header h1 {
    font-size: 4em;
    font-weight: 800;
  }
  #header #top {
    height: 50vh;
  }
  #center{
    position: relative;
    top: 20%;
  }
  .img-icon {
    width: 50%;
  }
}