/*ベースカラー*/
/*#A6D8DF*/
/*#EE5840*/

/*またはこっち*/
/*#67C7C5*/
/*#C71330*/

/* universal */
body {
  background-color: #F5F2EB;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  color: #666;
  font-size: 5em;
  text-align: center;
}

h3 {
  color: #666;
  font-size: 2em;
  text-align: center;
}

h4 {
  color: #666;
  font-size: 1.3em;
  text-align: center;
}

.white {
  color: #FFFFFF;
}

p {
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

table{
  border-collapse:collapse;
  margin:0 auto;
  font-size: 1.3em;
}
td,th{
  padding:10px;
  border:solid 1px #666;
}
th{
  color:#fff;
  background:#A6D8DF;
}
table tr:nth-child(odd){
  background:#ffffff;
}
table tr:nth-child(even){
	background: #F0F0F0;
}

/* header */
header {
}

#header #top {
  width: 100%;
  height: 60vh;
  margin: 0 auto;
  background-color: #A6D8DF;
  font-family: 'Source Sans Pro', sans-serif;
}

#center{
/*
  background-image: url(../images/mac.jpg);
  background-size: cover;
  background-position: center;
*/
  position: relative;
  top: 23%;
}

.logo-title {
  height: 20vh;
  line-height: 1.3em;
  font-size: 5vw;
}

.child {
  display: table-cell;
  vertical-align: middle;
  width: inherit;
  height: inherit;
  text-align: center;
  border: 1px dashed red;
}

.header-pic {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 20vh;
  text-align: center;  
}

.liner-blue {
  background: linear-gradient(transparent 90%, #A6D8DF 90%);  
}
.liner-red {
  background: linear-gradient(transparent 90%, #EE5840 90%);  
}

.hr01 {
	border-width: 5px 0 0 0;
	border-color: #A6D8DF;
  margin: 10px;
}

.hr02 {
	border-width: 2px 0 0 0;
	border-color: #EE5840;
  margin: 10px;
}

.hr03 {
	border-width: 5px 0 0 0;
	border-style: double;
	border-color: #A6D8DF;
}

/* main */
.section{
  width: 100vw;
  padding-top: 50px;
}

.inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;  
}

.img-icon {
  padding: 20px;
  border-radius: 50%;
  width: 80%;
}

.space{
  padding-bottom: 30px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-image {
  display: block;
  margin-bottom: 8px;
  height: 245px;
  width: 100%;
}

.card-caption {
  text-align: center;
}

.card-caption-title {
  font-size: 16px;
  font-weight: bold;
}

.card-caption-info {
  font-size: 12px;
}

.card-caption-url {
  font-size: 12px;
}

.contact-icon {
  height: 100px;
  width: 100px;
  padding: 10px;
  border-radius: 50%;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #F5F2EB;
  background-color: #666;
}

.copyright{
  text-align: center;
}
